{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 margin-top-20">
            {% if not request.user.is_authenticated %}
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" id="username" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Войти</button>
                </form>
            {% else %}
                {% if request.user.is_admin %}
                    <div class="row">
                        <form action="{% url 'users-report' %}" method="get" target="_blank">
                            <input type="hidden" name="report_type" value="pdf">
                            <button type="submit" class="btn btn-primary">Отчёт по пользователям в PDF</button>
                        </form>
                    </div>

                    <div class="row margin-top-10">
                        <form action="{% url 'users-report' %}" method="get" target="_blank">
                            <input type="hidden" name="report_type" value="csv">
                            <button type="submit" class="btn btn-primary">Отчёт по пользователям в CSV</button>
                        </form>
                    </div>

                    <div class="row margin-top-10">
                        <form action="{% url 'groups-report' %}" method="get" target="_blank">
                            <input type="hidden" name="report_type" value="pdf">
                            <button type="submit" class="btn btn-primary">Отчёт по группам в PDF</button>
                        </form>
                    </div>

                    <div class="row margin-top-10">
                        <form action="{% url 'groups-report' %}" method="get" target="_blank">
                            <input type="hidden" name="report_type" value="csv">
                            <button type="submit" class="btn btn-primary">Отчёт по группам в CSV</button>
                        </form>
                    </div>

                {% else %}
                    <h3>Вы авторизованы</h3>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock %}