{% extends 'base.html' %}
{% block content %}
    {% load bootstrap3 %}

    {% if u %}
        <div class="row">
            <div class="col-md-4">
                <h3>Пользователь</h3>
                <h4><b>id:</b> {{ u.id }}</h4>
                <h4><b>username:</b> {{ u.username }}</h4>
                <h4><b>created:</b> {{ u.created }}</h4>
                <h4><b>is_deleted:</b> {{ u.is_deleted }}</h4>
                <h4><b>is_admin:</b> {{ u.is_admin }}</h4>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <h3>Группы, в которых состоит пользователь</h3>
                {% for user_group in user_groups %}
                    <form class="form-inline" action="/admin/user_groups/change" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label> {{ user_group.group_id }}: {{ user_group.title }}
                                <input name="group_id" value="{{ user_group.group_id }}" type="hidden">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input name="permission" type="number" value="{{ user_group.permission }}" max="3" min="1">
                                <input name="user_id" type="hidden" value="{{ u.id }}">
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </form>
                {% endfor %}

            </div>
        </div>

    {% else %}
        <h3>Пользователь не найден</h3>
    {% endif %}
{% endblock %}