{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-1 margin-top-1">
            <h4>Каталог: {{ catalogue.title }}</h4>

            <br><br>
            <table class="table table-condensed">
                {% for f in files %}
                    <tr>
                        <td><a href="/media/{{ f.title }}">{{ f.title }}</a> </td>
                        <td><button class="btn btn-danger btn-xs">Удалить</button></td>
                    </tr>
                {% endfor %}

            </table>
            <a href="/catalogue/{{ catalogue.id }}/file/upload" class="btn btn-primary">+ Загрузить файл</a>
        </div>
    </div>
{% endblock %}