{% extends 'base.html' %}
{% block content %}
    {% load bootstrap3 %}

    <div class="row">
        <div class="col-md-4">
            <h3>Редактировать файл:</h3>

            <form action="/catalogue/{{ cat_id }}/file/edit/{{ file_id }}" method="post" class="form" enctype='multipart/form-data'>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}